main {
  display: grid;
  grid-template-rows: 170px 80px 650px 650px repeat(5, 170px);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: grey;
}

.addBorder {
  border: 11px solid red ;
}  

.header {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
}

.headerItem {
  background-color: #424242;
  width: 185px;
  height: 130px;
  font-size: 30px;
  font-weight: 900;
}

.pageLogo {
  width: 250px;
}

.h2Class {
  text-align: center;
}

.whiteTextNoStyle {
  text-align: center;
  color: white;
  text-decoration: none;
}

.latestArticles {
  width: auto;
  height: 80px;
  background-color: #424242;
  grid-row: 2/3;
  grid-column: 4/6;
}

.noStyle {
  margin: 0%;
  padding: 0%;
}

.article1 {
  padding: 50px;
  grid-row: 3;
  grid-column: 1/5;
}

.article2 {
  grid-row: 3;
  grid-column: 5/-1;
}

.article3 {
  grid-row: 4;
  grid-column: 1/5;
}

.article4 {
  grid-row: 4;
  grid-column: 5/-1;
}

.author {
  display: flex;
  flex-wrap: wrap;
}

.authorImage {
  background-color: #424242;
  width: 50px;
  height: 50px;
}

.authorName {
  background-color: #424242;
  width: 150px;
  height: 50px;
}

.smallMargin {
  margin: 15px;
}

.description {
  background-color: #424242;
  width: auto;
  height: 200px;
}

.hashTagSection {
  background-color: #424242;
  width: 450px;
  height: 40px;
}

.arrow {
  margin-top: 50px;
}
