main {
  display: grid;
  grid-template-rows: 170px 80px repeat(5, 650px) 170px 1100px 500px repeat(3, 450px) 300px 550px 700px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: grey;
}

.addBorder {
  border: 11px solid red;
}

.header {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
}

.headerItem {
  background-color: #424242;
  width: 185px;
  height: 130px;
  font-size: 30px;
  font-weight: 900;
}

.pageLogo {
  width: 250px;
}

.whiteTextNoStyle {
  text-align: center;
  color: white;
  text-decoration: none;
}

.latestArticles {
  width: auto;
  height: 80px;
  background-color: #424242;
  grid-row: 2/3;
  grid-column: 5/9;
}

.noStyle {
  margin: 0%;
  padding: 0%;
}

.article1 {
  grid-row: 3;
  grid-column: 1/7;
}

.article2 {
  grid-row: 3;
  grid-column: 7/-1;
}

.article3 {
  grid-row: 4;
  grid-column: 1/7;
}

.article4 {
  grid-row: 4;
  grid-column: 7/-1;
}

.author {
  display: flex;
  flex-wrap: wrap;
}

.authorImage {
  background-color: #424242;
  width: 50px;
  height: 50px;
}

.authorName {
  background-color: #424242;
  width: 150px;
  height: 50px;
}

.smallMargin {
  margin: 15px;
}

.medPadding {
  padding: 50px;
}

.description {
  background-color: #424242;
  width: auto;
  height: 200px;
}

.hashTagSection {
  background-color: #424242;
  width: 450px;
  height: 40px;
}

.arrow {
  margin-top: 50px;
}

.article5 {
  grid-row: 5;
  grid-column: 1/5;
}

.article6 {
  grid-row: 5;
  grid-column: 5/9;
}

.article7 {
  grid-row: 5;
  grid-column: 9/13;
}

.article8 {
  grid-row: 6;
  grid-column: 1/5;
}

.article9 {
  grid-row: 6;
  grid-column: 5/9;
}

.article10 {
  grid-row: 6;
  grid-column: 9/13;
}

.article11 {
  grid-row: 7;
  grid-column: 1/5;
}

.article12 {
  grid-row: 7;
  grid-column: 5/9;
}

.article13 {
  grid-row: 7;
  grid-column: 9/13;
}

.articleType2Age {
  background-color: #424242;
  height: 20px;
  width: 150px;
}

.articleType2Header {
  background-color: #424242;
  height: 20px;
  width: 350px;
}

.articleType2Author {
  background-color: #424242;
  margin-top: 10px;
  height: 20px;
  width: 150px;
}

.articleType2Content {
  background-color: #424242;
  height: 120px;
  width: 450px;
}

.articleType2Arrow {
  margin-top: 150px;
}

.seeAllLatestArticles {
  width: auto;
  height: 40px;
  margin: 20px 0 80px 0;
  background-color: #424242;
  grid-row: 8/9;
  grid-column: 5/9;
}

.advertisement {
  grid-row: 9;
  grid-column: 1/-1;
}

.currentMonth {
  background-color: #424242;
  height: 18px;
  width: auto;
}

.advertisementTitle {
  background-color: #424242;
  height: 38px;
  min-width: 500px;
  text-align: center;
  width: max-content;
  margin: auto;
}

.advertisementSubTitle {
  background-color: #424242;
  height: 38px;
  min-width: 500px;
  text-align: center;
  width: max-content;
  margin: auto;
}

.advertisementDescription {
  background-color: #424242;
  height: 150px;
  min-width: 700px;
  text-align: center;
  width: max-content;
  margin: 50px auto 40px auto;
}

.advertisementLink {
  background-color: #424242;
  height: 45px;
  width: 200px;
  margin: 0 auto 20px auto;
}

.advertisementImage {
  background-color: #424242;
  width: 700px;
  height: 450px;
  margin: auto;
}

.personOfTheWeek {
  display: flex;
  flex-wrap: wrap;
  grid-row: 10;
  grid-column: 1/-1;
  margin: auto;
}

.personImage {
  width: 400px;
  height: 400px;
  background-color: #424242;
  margin-right: 10px;
}

.personInfoTitle {
  width: 1000px;
  height: 50px;
  background-color: #424242;
  margin-left: 10px;
}

.alignLeft {
  text-align: start;
}

.smallPadding {
  padding: 15px;
}

.personInfoDescription {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #424242;
  height: 250px;
  width: 1550px;
}

.article14 {
  grid-row: 11;
  grid-column: 1/7;
}

.article15 {
  grid-row: 11;
  grid-column: 7/13;
}

.article16 {
  grid-row: 12;
  grid-column: 1/7;
}

.article17 {
  grid-row: 12;
  grid-column: 7/13;
}

.article18 {
  grid-row: 13;
  grid-column: 1/7;
}

.article19 {
  grid-row: 13;
  grid-column: 7/13;
}

.displayFlexWrap {
  display: flex;
  flex-wrap: wrap;
}

.actualImage {
  background-color: #424242;
  height: 100px;
  width: 100px;
}

.authorNamePerson {
  background-color: #424242;
  height: 30px;
  width: 100px;
}

.articleTitle {
  background-color: #424242;
  height: 50px;
  width: 500px;
}

.articleDescription {
  background-color: #424242;
  height: 100px;
  width: 700px;
}

.smallMarginLeft {
  padding-top: 15px;
  margin-left: 10px;
}

.smallMarginRight {
  margin-left: 10px;
}

.smallPaddingTop {
  margin-top: 10px;
}

.smallMarginTop {
  margin-top: 10px;
}

.moreLinksOnTwitter {
 grid-row: 14;
 width: max-content;
 grid-column: 1/13;
 margin: auto;
 padding: 15px;
}

.smashingMagzineBook {
  grid-row: 15;
  grid-column: 1/-1;
}

.bookImage {
  background-color: #424242;
  width: 250px;
  height: 300px;
}

.publication {
  width: 300px;
  height: 50px;
  background-color: #424242;
}

.bookText {
  margin-right: 50px;
}

.bookTitle {
  background-color: #424242;
  height: 80px;
  width: 500px;
}

.bookDescription {
  background-color: #424242;
  height: 150px;
  width: 1500px;
}

.tableOfContents {
  border-radius: 5px;
  background-color: #424242;
  height: 80px;
  width: 400px;
}

.guide1 {
  grid-row: 16;
  grid-column: 1/4;
}

.guide2 {
  grid-row: 16;
  grid-column: 4/7;
}

.guide3 {
  grid-row: 16;
  grid-column: 7/10;
}

.guide4 {
  grid-row: 16;
  grid-column: 10/-1;
}

.guidesList {
  margin-left: 25px;
  margin-right: 25px;
}

.guideListItem {
  background-color: #424242;
}

.colorWhite {
  color: white;
}

.textMargin {
  border: 5px solid #424242;
  margin: 5px 0 5px 0;
}
